*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
background-color: black;
}
#section{
    height: 70%;
    width:50%;
    background-color: rgb(6, 142, 137);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#bettle-image{
    height: 15%;
    width:10%;
    background-color: rgb(160, 95, 148);
}
#bettle-image img{
    height:100%;
    width:100%;
    object-fit:contain;
}
